.proxy-service {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.action-row {
  display: flex;
}

.action-row .split-button {
  margin-left: 10px;
  display: inline-flex;
}

.action-row .split-button button {
  border-color: #837ea9;
}

.action-row .split-button > button {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-right: 0px;
}

.action-row .split-button .dropdown button {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  width: 75%;
}

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 40vh;
}

.response-row textarea {
  height: 30vh;
  width: 100%;
  font-size: 1rem;
}
