<form class="proxy-service" [formGroup]="form" (ngSubmit)="proxy()">
  <div class="action-row">
    <input type="text" placeholder="Endpoint" class="input" [class.is-danger]="f.endpoint.invalid"
      formControlName="endpoint">
    <div class="split-button">
      <button type="submit" class="button is-info">Send</button>
      <div class="dropdown is-right is-hoverable">
        <div class="dropdown-trigger">
          <button type="button" class="button is-info">
            <span class="icon is-small">
              <fa-icon icon="angle-down"></fa-icon>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
          <div class="dropdown-content" [class.has-background-success]="this.copiedUrl">
            <a class="dropdown-item" (click)="copyPersistentUrl()">
              Copy persistent url
            </a>
          </div>
          <div class="dropdown-content">
            <a class="dropdown-item" (click)="resetForm()">
              Reset body
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="request-row">
    <json-editor [options]="editorOptions" formControlName="body"></json-editor>
  </div>
  <hr />
  <div class="response-row">
    <div class="control" [class.is-loading]="loading">
      <textarea disabled *ngIf="response" value="{{response}}"></textarea>
    </div>
  </div>
</form>
