.proxy-service {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.action-row {
  display: flex;
}

.action-row button {
  margin-left: 10px;
}

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 40vh;
}

.response-row textarea {
  height: 30vh;
  width: 100%;
  font-size: 1rem;
}
