<form class="service-form">
  <p class="control has-icons-left">
    <input class="input" type="text" placeholder="Search">
    <span class="icon is-left">
      <fa-icon icon="search"></fa-icon>
    </span>
  </p>

  <div class="menu service-list">
    <p class="menu-label">
      AccountStatementApiService
    </p>
    <ul class="menu-list">
      <li><a>identifyUser</a></li>
      <li><a>commitFailureAccessRecoveryOperation</a></li>
    </ul>
    <p class="menu-label">
      TransactionsAuditCompliancePrescoringApiService
    </p>
    <ul class="menu-list">
      <li><a>Team Settings</a></li>
      <li><a class="is-active">Manage Your Team</a></li>
      <li><a>Invitations</a></li>
      <li><a>Cloud Storage Environment Settings</a></li>
      <li><a>Authentication</a></li>
    </ul>
    <p class="menu-label">
      TransactionsAuditCompliancePrescoringApiServiceQWE
    </p>
    <ul class="menu-list">
      <li><a>Payments</a></li>
      <li><a>Transfers</a></li>
      <li><a>Balance</a></li>
    </ul>
  </div>
</form>
