.service-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.service-list {
  overflow: auto;
  margin-top: 20px;
  flex-grow: 1;
}

.service-list .menu-label {
  text-transform: none;
  font-size: 1em;
}
